@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #E7E7E7;
  color: #202529;
}

input, input:focus{
  border: 2px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
  color: #202529;
  font-size: 1rem;
}

input:focus{
  outline: none;
}

h1{
  font-size: 2rem;
}